@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

nav {
    background: #C31B18;

}

nav:after {
    content: '';
    clear: both;
    display: table;
}

.logo img {
    max-width: 75px;

}

nav .logo {
    float: left;
    position: absolute;
    top: 0.5vw;
    left: 2%;
}

nav ul {
    float: right;
    list-style: none;
    position: relative;
    margin: 0.5vw 5vw 0.5vw 0.5vw;
}

nav li {
    float: left;
    background: #C31B18;
    margin: 0 5px;

}

nav a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 8px 15px;

}

nav a:hover {
    box-shadow: 0 0 8px #E5E5E5;
    border-radius: 5px;
    color: #E5E5E5;
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    height: auto;

}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 180px;
    float: none;
    display: list-item;
    transition: .3s;
    border-top: 1px solid #E5E5E5;
}

nav ul ul li a {
    line-height: 50px;
    font-size: 16px;

}

nav ul ul li a:hover {
    box-shadow: none;
    font-size: 18px;

}

input,
.show,
.icon {
    display: none;
}



@media all and (max-width: 968px) {
    nav {
        min-height: 80px;
        width:100%;
    }

    nav ul {
        margin-right: 0px;
        float: left;
        position:fixed;
        width:110%;
        height:100vh;
        top:75px;
        left:-10px;
        text-align: center;
    }
    
    nav a:hover {
    box-shadow: none;
        font-size:24px;
}
    
    nav .logo {
        position: absolute;

    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;

    }

    nav ul li {
        position: relative;
        top: 0px;

    }

    .submenu li {
        top:0;
    }
    
    nav ul ul {
        position: static;
        float: none;
        display:none;
        opacity:1;
        visibility: visible;

    }
    
    nav ul ul li {
    width:110vw;
        border:none;
    }

    .show {
        display: block;
        color: white;
        font-size: 20px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        font-size:24px;
    }
    
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 75px;
        cursor: pointer;
    }
    .show + a, ul {
        display:none;
    }
}
    
   [id^=btn]:checked  + ul{
        display: block;
    }
}
