@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

h1 {
    font-size: 2vw;
    text-shadow: 0.1px 0.1px black;
}

h2 {
    font-size: 1vw;
}

h3 {
    font-size: 0.8vw;
}

h4 {
    font-size: 0.6vw;
}

/*NAV MENU*/

nav {
    background: #C31B18;
    z-index: 999;
    position: fixed;
    width: 100%;
    border-bottom: 0.2px solid #E5E5E5;

}

nav:after {
    content: '';
    clear: both;
    display: table;
}


.tel {
    margin-left: 30vw;
    position: absolute;
    width: 20vw;
    display: flex;
    align-items: center;
    top: -30%;
}

.tel i {
    color: white;
    font-size: 20px;
}

.tel a {
    font-size: 20px;
}


.logo img {
    max-width: 200px;

}

nav .logo {
    display:flex;
    float: left;
    position: absolute;
    left: 2%;
    top: 20%;
}

nav ul {
    float: right;
    list-style: none;
    position: relative;
    margin: 0.5vw 5vw 0.5vw 0.5vw;
}

nav ul ul {
    float: none;
    position: relative;

}

nav li {
    float: left;
    background: #C31B18;
    margin: 0 5px;

}

nav a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;
    padding: 8px 15px;

}

nav a:hover {
    font-weight: 650;
    color: #E5E5E5;
}

nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    height: auto;
    left: 0%
}

nav ul li:hover > ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    z-index: 999;

}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 220px;
    float: none;
    display: list-item;
    transition: .3s;
    border-top: 1px solid #C31B18;
    text-align: center;

}

nav ul ul li a {
    line-height: 40px;
    font-size: 14px;

}

nav ul ul li a:hover {
    box-shadow: none;
    font-size: 16px;

}

input,
.show,
.icon {
    display: none;
}

.navindex {
    background-color: white;
    border-bottom: 1px solid #C31B18;
}

.navindex ul li {
    background-color: white;
}

.navindex ul li a {
    color: #C31B18;
}

.navindex i {
    color: #C31B18;
}

.telindex a {
    color: #C31B18;
}

.navindex span {
    color: #C31B18;
}


@media all and (max-width: 968px) {
    nav {
        min-height: 60px;
        width: 100%;
    }

    nav ul {
        float: left;
        position: fixed;
        width: 100vw;
        max-height: 100%;
        text-align: center;
        margin: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        z-index: -1;
        border-bottom: 1px solid #E5E5E5;

    }

    .submenu {
        border: none;
    }

    nav a:hover {
        box-shadow: none;
        font-size: 24px;
    }

    nav .logo {
        z-index: 999;
        display:block;
        flex-wrap:wrap;

    }

    nav .logo img {
            z-index: 999;
            width: 170px;
            max-width:170px;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100vw;
        margin: 0;
        box-shadow: 1px 1px white;

    }

    nav ul ul {
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;

    }

    nav ul ul li {
        width: 100vw;
        border: none;
    }

    .show {
        display: block;
        color: white;
        font-size: 20px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        font-size: 18px;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 30px;
        line-height: 60px;
        cursor: pointer;
    }

    .show + a,
    .ul,
    .tel {
        display: none;
    }

    .indexshow {
        color: #C31B18;
    }

    .navindex > .ul {
        border-bottom: 1px solid #C31B18;
    }

   
}

[id^=btn]:checked + ul {
    display: block;
    transition: 5s;
}




/*SLIDER*/

.slider {
    height: 100%;
    position: relative;
}


.swiper-container {
    width: 100%;
    height: 100vh;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.25);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #C31B18 !important;
}

.hero-text {
    width: 30vw;
    position: absolute;
    left: 10%;
    border: 1px solid #C31B18;
    padding: 1vw;
    height: 20vw;
    background-color: rgba(229, 229, 229, 0.85);
}

.hero-text h1 {
    margin: 1vw;
    color: #C31B18;
    text-shadow: 0.1px 0.1px black;
}

.hero-text h3 {
    margin: 2vw 1.5vw 1.5vw 1.5vw;
    line-height: 200%;
    text-align: left;
    line-height: 2vw;
}


.hero-text button {
    width: 50%;
    height: 13%;
    font-size: 0.8vw;
    color: white;
    background: #C31B18;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.01vw;
    position: absolute;
    transform: translate(-50%, 50%);
    transition-delay: 50ms;


}

.slide1 button:hover {
    color: #8e1230;
    border: 1px solid #8e1230;
    background-color: transparent;
    font-weight: 400;
}

.slide2 button:hover {
    background: transparent;
    color: #C31B18;
    font-weight: 400;
    border: 1px solid #C31B18;
}

.slide3 button:hover {
    background: transparent;
    color: #752127;
    font-weight: 400;
    border: 1px solid #752127;
}


.slide1 {
    background-image: url(emerytura.jpg);
    background-size: cover;
    background-position: top;
}

.slide2 {
    background-image: url(rodzina.jpg);
    background-size: cover;
    background-position: center;
}

.slide3 {
    background-image: url(firmowe.jpg);
    background-size: cover;
    background-position: top;
}


.slide1 > .hero-text {
    border: 1px solid #8e1230;
}

.slide1 h1 {
    color: #8e1230;
}

.slide1 button {
    background-color: #8e1230;
}

.slide3 > .hero-text {
    border: 1px solid #752127;
}

.slide3 h1 {
    color: #752127;
}

.slide3 button {
    background-color: #752127;
}


@media all and (min-width:968px) {
    .slide1 > .hero-text {
        left: 60%;
    }
}

@media all and (max-width: 968px) {
    .hero-text {
        width: 45vw;
        height: 26vw;
        transform: translate(40%, 0%);
        opacity: 90%;
        padding: 0;


    }

    .hero-text h1 {
        font-size: 3vw;
        margin: 2vw;
    }

    .hero-text h3 {
        margin: 1vw 2vw;
        font-size: 1.3vw;
        text-align: center;
        line-height: 2.4vw;
    }

    .hero-text button {
        font-size: 1.1vw;
        margin-top: 1vw;
    }

    .slide3 {
        background-position: 60% top;
    }


}

@media all and (max-width:600px) {
    .hero-text {
        width: 60vw;
        height: 38vw;
        transform: translate(16%, 0%)
    }

    .hero-text h1 {
        font-size: 3.5vw;
        margin: 4vw 0;
    }

    .hero-text h3 {
        margin: 3vw 0;
        font-size: 1.8vw;
        text-align: center;
        line-height: 3.5vw;
    }

    .hero-text button {
        font-size: 1.5vw;
    }

    .slide1 {
        background-position: 3% top;
    }
}





/*TILES GRID!*/

.tiles {
    text-align: center;
    position: relative;
    top: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    width: 70vw;
}


.title {
    position: relative;
    top: -3vw;
    color: #C31B18;
    grid-column: 1/4;
    margin-bottom: 3vw;
}

.title h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
}

.title h1:after {
    content: '';
    display: block;
    border-bottom: 1.5px #C31B18 solid;
    margin: 0 auto;
    width: 100%;
    margin-top: 0.5vw;
}

.tile {
    max-width: 25vw;
    border: 1px #C31B18 solid;
    padding: 2vw 1vw;
    border-radius: 8px;
    transition: 750ms;
    min-width: 19vw;
}

.tile:hover {
    transform: scale(1.20);
    box-shadow: 0 0 12px #C31B18;
    text-shadow: 0.1px 0.1px #C31B18;
}

.tile img {
    max-width: 5vw;
    width: 5vw;
}

.tile a {
    text-decoration: none;
}

.tile h2:after {
    content: '';
    display: block;
    border-bottom: 0.5px #C31B18 solid;
    margin: 0 auto;
    width: 68%;
    margin-top: 0.6vw;
}

.tiles a {
    text-decoration: none;
}

.tile h2 {
    color: black;
    font-family: 'Roboto Slab', sans-serif;
}

.tile h4 {
    margin-top: 0.5vw;
    font-family: 'Roboto Slab', sans-serif;
    color: black;
    font-weight: 400;
}

.more {
    grid-column: 1/4;
    width: 20%;
}

.more button {
    grid-column: 1/4;
    width: 100%;
    font-size: 0.8vw;
    color: white;
    background: #C31B18;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.01vw;
    margin-bottom: 15vw;
    padding: 0.5vw;
    margin-top: 5vw;
}

.more button:hover {
    background: white;
    color: #C31B18;
    font-weight: 400;
    border: 1px solid #C31B18;
}

@media all and (max-width: 968px) {

    .tiles {
        margin: 2vw;
        width: 96vw;

    }

    .tile {
        height: 15vw;
        width: 22vw;
    }

    .tile h2 {
        font-size: 1.2vw;
    }

    .tile h4 {
        font-size: 0.8vw;
    }

    .title h1 {
        font-size: 4vw;
        margin-bottom: 2vw;
    }

    .more {
        margin-top: 4vw;
    }
}

@media all and (max-width:600px) {
    .tiles {
        width: 96vw;

    }

    .tiles a {
        grid-column: 1/4;
        width: 100vw;



    }

    .tile {
        max-width: 98vw;
        width: 60vw;
        height: 40vw;
        margin: 3vw auto;


    }

    .tile:hover {
        transform: none;
        text-shadow: none;
        box-shadow: none;
    }

    .tile img {
        max-width: 15vw;
        margin: 2vw;
        width: 15vw;
    }

    .tile h2 {
        margin-top: 2vw;
        font-size: 3vw;
    }

    .tile h4 {
        font-size: 2vw;
        margin-top: 2vw;

    }

    .title h1 {
        font-size: 6vw;
    }

    .more button {
        font-size: 1.5vw;
        width: 30%;
        height: 5vw;
    }
}


/* O mnie */

.omnie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 66vw;
    text-align: right;
    margin: 8vw auto;

}

.omniebackground {
    background-image: linear-gradient(white, #E5E5E5, #E5E5E5, white)
}

.foto {
    max-width: 30vw;
    box-shadow: 1px 1px 5px black;
}

.opis {
    width: 24vw;
    justify-self: flex-end;
}

.opis h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #C31B18;
}

.opis h1:after {
    content: '';
    display: block;
    border-bottom: 1px #C31B18 solid;
    width: 30%;
    margin: 0.2vw 16.8vw;
}

.opis h4 {
    margin: 1.5vw 0;
    font-size: 0.8vw;
    font-weight: 500;
}

.wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
    text-align: center;
}

.social img {
    width: 2vw;
}

.social h5 {
    font-size: 0.6vw;
    font-weight: 600;
}

.social {
    margin: 1vw;
}

.social a {
    text-decoration: none;
    color: black;

}

.readmore {
    grid-column: 4/5;
    align-self: center;
}

.readmore button {
    width: 100%;
    font-size: 0.8vw;
    color: white;
    background: #C31B18;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.01vw;
    padding: 0.5vw;

}

.readmore button:hover {
    background: transparent;
    color: #C31B18;
    font-weight: 400;
    border: 1px solid #C31B18;
}



@media all and (max-width: 968px) {
    .omnie {
        width: auto;
        margin: 12vw 7vw;
    }

    .foto {
        max-width: 40vw;
    }

    .opis {
        width: 40vw;
        margin: left:2vw;
    }

    .opis h1 {
        font-size: 4vw;
    }

    .opis h1:after {
        width: 33%;
        margin: 0.2vw 26.5vw;
    }

    .opis h4 {
        font-size: 1.3vw;
    }

    .social img {
        width: 3.2vw;
    }

    .readmore button {
        width: 60%;
    }

    .social h5 {
        font-size: .8vw;
    }


}

@media all and (max-width: 600px) {

    .omnie {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .foto {
        max-width: 40%;
        margin: auto;
    }

    .opis {
        width: 100vw;
        text-align: center;
        margin: auto;
        grid-row: 1;
    }

    .opis h1 {
        margin: 5vw auto;
        font-size: 6vw;
    }

    .opis h1:after {
        width: 22%;
        margin: 0.2vw 39vw;
    }

    .opis h4 {
        font-size: 2vw;
        width: 60%;
        margin: auto;
    }

    .social img {
        width: 5vw;
    }

    .social h5 {
        font-size: 1.2vw
    }

    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 3fr;
        margin: 4vw 0;
    }

    .opis button {
        font-size: 1.5vw;
        width: 80%;
        height: 5vw;
    }
}


/*Kontakt*/


.kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    margin: 10vw auto;
}

.mapa iframe {
    width: 20vw;
    height: 20vw;
}

.mapa {
    width: 20vw;
    border: 1px solid white;
    margin-left: 2vw;
    height: 20vw;
}

.dane {
    margin-lefT: 2vw;
}

.dane h2 {
    color: #C31B18;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0.5vw 0;
    text-shadow: 0.1px 0.1x black;
}


.dane h2:after {
    content: '';
    display: block;
    border-bottom: 0.1px #C31B18 solid;
    width: 32%;
    margin-top: 0.2vw;
}

.dane h4 {
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
}

.container {
    background-color: rgba(195, 27, 24, 0.8);
    border: 1px solid #E5E5E5;
    color: white;
    padding: 0.8vw;
    width: 60%;
    grid-column: 1
}

.container h3 {
    font-size: 0.8vw;
    font-weight: 500;
    margin-bottom: 0.5vw;
}

.container h4 {
    margin-top: 0.5vw;
    font-weight: 300;
    margin-left: 0.2vw;
    ;
    margin-bottom: 0;
    line-height: 1vw;
}

.background {
    background-image: linear-gradient(white, #C31B18, #C31B18)
}

.partner {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: linear-gradient(to right, white, #E5E5E5);
    padding: 0.5vw;
}

.partner h3 {
    justify-self: center;
    align-self: center;
}

.partner img {
    width: 15vw;

}

@media all and (max-width: 968px) {
    .container {
        padding: 0.8vw;
        width: 90%;
    }

    .dane h2 {
        font-size: 2vw;
    }

    .dane h4 {
        font-sizE: 1.2vw;
    }

    .container h3 {
        font-size: 1.2vw;
        margin-bottom: 0.5vw;

    }

    .container h4 {
        font-size: 1vw;
        line-height: 1.3vw;
        margin: 0;
    }

}

@media all and (max-width: 600px) {

    .kontakt {
        grid-template-columns: 1fr;
    }

    .mapa {
        width: 50vw;
        height: 50vw;
        margin-top: 5vw;
        margin-left: 0;
    }

    .mapa iframe {
        width: 50vw;
        height: 50vw;
    }

    .dane {
        grid-row: 1;
        text-align: center;
        margin: 0;
    }

    .dane h2 {
        font-size: 5vw;
        margin: auto;
    }

    .dane h2:after {
        margin: 0.2vw auto;
        width: 74%
    }

    .dane h4 {
        margin: 0;
        font-size: 2vw;
    }

    .container {
        width: 100%;
        margin: 5vw auto;
        height: 20vw;
    }

    .container h3 {
        font-size: 2.6vw;
        margin-top: 1vw;
    }

    .container h4 {
        line-height: 3.5vw;
        margin-top: 2vw;
    }

    .partner img {
        width: 40vw;
    }

    .partner h3 {
        font-size: 2vw;
    }

}

/*Stopka*/

.stopka {
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 0.9fr 0.9fr;
    width: 60%;
    margin: 0 auto;
    color: white;
    height: 24vh;
}

.stopka h1 {
    font-size: calc(8px + 0.6vw);
    font-weight: 700;
    margin: 1vw 0;
    text-shadow: 0.1px 0.1px black;
}

.stopka a {
    font-size: calc(6px + 0.5vw);
    font-weight: 200;
    line-height: calc(10px + 0.6vw);
    text-shadow: 0.1px 0.1px black;
    color: white;
    text-decoration: none;
}

.stopka a:hover {
    font-weight: 600;
}

.kontaktstopka {
    margin-left: 1vw;
}


@media all and (max-width: 968px) {

    .stopka h1 {
        font-size: 1.6vw;
    }
}

@media all and (max-width: 600px) {
    .stopka {
        width: 95%;
        grid-template-columns: 1fr;
        text-align: center;
        height: 100%;
    }

    .stopka h1 {
        font-size: 4vw;
        margin-bottom: 3vw;
    }

    .stopka a {
        font-size: 3vw;
        line-height: 5vw;
    }

    .stopka div {
        margin: 1vw;
    }

    .ubezpieczenia {
        grid-row: 4;
    }

}

/* Emerytura */

section {
    height: 100vh;
    background-image: url(pieniadze.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.ike {
    grid-column: 1/2;
}

.square {
    height: 28vw;
    width: 34vw;
    align-self: center;
    justify-self: center;
    background-color: #E5E5E5;
    opacity: 80%;
    margin-top: 5vw;
    box-shadow: 1px 1px 2px black;

}

.square h3 {
    margin: 0vw 2vw 1vw 2vw;
    font-size: 1.2vw;
    font-family: 'Roboto Slab';
}

.square li {
    margin-left: 2vw;
    line-height: 1.4vw;
    font-size: 0.7vw;
    font-family: 'Roboto Slab';
}

.head {
    width: 100%;
    background-color: #e9573d;
    text-align: center;
    color: white;
    padding: 0.5vw;
    border: 0.1vw solid black;
}

.border {
    padding: 1vw;
}

.head h1 {
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 0.5vw;
}

.head h2 {
    margin-bottom: 1vw;
    font-weight: 300;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.square a {
    margin-top: 0.8vw;
    text-decoration: none;
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.square button {
    width: 40%;
    background-color: #8e1230;
    color: white;
    height: 2.2vw;
    border: 1px solid black;
    font-size: 0.8vw;
    font-weight: 200;
    text-transform: uppercase;
}

.square button:hover {
    background-color: transparent;
    color: #8e1230;
    border: 1px solid #8e1230;
    cursor: pointer;
    font-weight: 400;

}

.head {
    background: #8e1230;
}

.navike {
    background-color: #8e1230;
}

.navike ul li {
    background-color: #8e1230;
}

.navike ul li li {
    border-top: 1px solid white;
}

@media all and (max-width: 1300px) {
    .square h3 {
        margin: 1vw 2vw 0.8vw 2vw;
    }

}

@media all and (max-width: 968px) {
    .navike ul li li {
        border: none;
    }
}

@media all and (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
        background-image: linear-gradient(to right, rgba(142, 18, 48, 0.3), #E5E5E5, #E5E5E5, rgba(142, 18, 48, 0.3));
        height: 100%;
    }

    .square {
        width: 100%;
        height: 80%;
        margin-top: 25%;
        opacity: 100%;
    }

    .square h1 {
        font-size: 5vw;
    }

    .square h2 {
        font-size: 3vw;
    }

    .square h3 {
        font-size: 3vw;
        margin: 3vw 2vw;
    }

    .square li {
        font-size: 2.2vw;
        line-height: 3vw;
        margin-left: 5vw;
    }

    .square button {
        margin-top: 4vw;
        min-height: 5vw;
        font-size: 1.6vw;
    }

    .head {
        border-left: none;
        border-right: none;
    }

    .border {
        padding: 5vw;
    }


}

/*Stopka podmenu*/

.stopkasub,
.stopkasub a {
    color: black;
}

.stopkasub {
    margin-top: 15vw;
    border-radius: 5px;
    padding: 0.5vw;
}

.tlostopkasub {
    background-image: radial-gradient(circle, rgba(142, 18, 48, 0.2), #E5E5E5);
    border-top: 1px solid black;
}

.stopkasub h1 {
    font-weight: 500;
}

.tlostopkazyciesub {
    background-image: radial-gradient(circle, rgba(195, 27, 24, 0.2), #E5E5E5);
}

@media all and (max-width: 600px) {
    .tlostopkasub {
        border-top: none;
    }

    .stopkasub {
        margin-top: 0;
    }

    .naskroty h1 {
        margin-top: 15vw;

    }

}


/* Życie i zdrowie */

.zycieizdrowie {
    height: 100vh;
    background-image: url(dziecko.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.kontener {
    border: 2px solid white;
    height: 25vw;
    width: 18vw;
    justify-self: center;
    margin-top: 10vw;
    margin-right: 2vw;
}

.ozyciuplus {
    background-color: rgba(195, 27, 24, 0.8);
    margin-left: 6vw;

}

.ozyciu {
    grid-column: 4/5;
    background-color: rgba(195, 27, 24, 0.8);
}

.profamilia {
    background-color: rgba(195, 27, 24, 0.8);
}

@media all and (max-width: 600px) {
    .zycieizdrowie {
        background-color:red;
        display:block;
    }
}

/* Grupowe */

.grupowetlo {
    height: 100vh;
    background-image: url(grupowe.JPG);
    background-size: cover;

}

.grupowe {
    border: 1px solid white;
    height: 10vw;
    width: 10vw;
